<div class="login-box box">
  <%= form_tag controller: "sessions", action: "create" do %>
    <p>Don't have an account? <%= link_to "Sign up here", new_user_path %> <i class="fa fa-angle-right"></i></p>
    <%= email_field_tag :email, nil, class: "input-block", placeholder: "Email" %>
    <%= password_field_tag :password, nil, class: "input-block", placeholder: "Password" %>
    <%= submit_tag "Log In", class: "btn-solid" %>
    <p><a href="#">I don't know my password</a> <i class="fa fa-angle-right"></i></p>
  <% end %>
</div>
