<div>
  <h3>You</h3>
  <div class="delimited spaced">
    <div>
      <h5>Title</h5>
      <p><%= @salary.title %></p>
    </div>
    <div>
      <h5>Salary</h5>
      <p><%= dollar(@salary.annual_pay) %>
    </div>
    <div>
      <h5>Last Bonus</h5>
      <p>None</p>
    </div>
    <div>
      <h5>Equity</h5>
      <p>None</p>
    </div>
    <%= content_tag :a, "Edit",
          data: { toggle: "modal", target: "#edit-modal" } %>
  </div>
</div>

<%= content_tag :div, content_tag(:p, "Invite New Members"),
      class: %w{ btn btn-default double-spaced },
      data: { toggle: "modal", target: "#invite-modal" } %>
<%= content_tag :div, content_tag(:p, "Leave Group"),
      class: %w{ btn btn-default spaced },
      data: { toggle: "modal", target: "#leave-modal" } %>
