<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to("PaySymmetry", ApplicationHelper::LANDING_URL, 
                  class: "navbar-brand") %>
    </div>
    <% if @user.present? %>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= @user.email %><span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
            <% @user.groups.each do |group| %>
              <li>
                <%= link_to group.name, group_path(group) %>
              </li>
            <% end %>
              <hr/>
              <li>
                <%= link_to "All Groups", groups_url %>
              </li>
              <hr/>
              <li>
                <%= link_to "Settings", settings_user_path(@user) %>
              </li>
              <li>
                <%= link_to "Log Out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</nav>
