<% title_avg = @salaries_by_title[@salary.title].average_annual_pay %>
<% med_avg = @salaries_by_title[@salary.title].median_annual_pay %>

<% if @group.salaries.count < ApplicationHelper::MIN_GROUP_MEMBERS %>
  <p>Salaries will not be displayed until there are at least
  <%= ApplicationHelper::MIN_GROUP_MEMBERS %> members in this group.</p>
<% else %>
  <div class="group-header">
    <h2><%= @group.name %></h2>
  </div>
  <div class="double-spaced">
    <table id="summary-table">
      <tr>
        <th>People</br>with Your Title</th>
        <th>Average Salary</br>for Your Title</th>
        <th>Your Rank</br>for Your Title</th>
      </tr>
      <tr>
        <td><%= @salaries_by_title[@salary.title].count %></td>
        <td><%= dollar(title_avg, short: true) %></td>
        <td><%= @salaries_by_title[@salary.title].rank_of(@salary) %></td>
    </table>
  </div>
  <div class="spaced">
    <table>
      <tr>
        <th>Title</th>
        <th>Salary</th>
      </tr>
      <% @group.salaries.each do |salary| %>
        <tr>
          <td><%= salary.title %></td>
          <td><%= fudged_salary(salary, @salaries_by_title[salary.title].count) %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <hr/>
  <div>
    <p>Average Salary: <%= dollar(@group.average_annual_pay) %></p>
    <p>Median Salary: <%= dollar(@group.median_annual_pay) %></p>
  </div>

  <div>
    <p>Average <%= @salary.title %> Salary: <%= dollar(title_avg) %></p>
    <p>Median <%= @salary.title %> Salary: <%= dollar(med_avg) %></p>
  </div>
<% end %>
<hr/>

<%= content_for :sidebar do %>
  <%= render "partials/group_sidebar" %>
<% end %>
