<!-- Groups Sidebar -->
<%= content_for :groups_sidebar do %>
  <div class="groups-list">
    <h4>Groups</h4>
    <ul class="multiple-select">
      <% @groups.each do |group| %>
        <%= content_tag :li, class: group_selected_class(@group == group) do %>
          <%= link_to truncate(group.name, length: 22), group_path(group) %>
        <% end %>
      <% end %>
    </ul>
    <div class="create-group-btn">
      <a href="#"><i class="fa fa-plus"></i> Create New</a>
    </div>
  </div>
<% end %>

<!-- Personal Info Sidebar -->
<aside class="info-sidebar box">
  <h3 class="heading">You <i class="fa fa-pencil"></i></h3>
  <ul class="info">
    <li>Title</li>
    <li><%= @salary.title %></li>
    <li>Salary</li>
    <li><%= dollar(@salary.annual_pay) %></li>
  </ul>
  <a href="#" class="btn-solid">Invite Members</a>
  <a href="#" class="btn-solid">Leave Group</a>
</aside>

<!-- Main Content -->
<div class="sections-holder">
  <section class="company-section box">
    <div class="company-title-row">
      <h2 class="company-heading"><%= @group.name %></h2>
      <h3 class="company-util">
        <span class="title-select">All Titles <i class="fa fa-angle-down"></i></span>
        <span><i class="fa fa-user"></i> <%= @group.salaries.count %></span>
      </p>
    </div>
    <table class="stat-summary">
      <tr class="stat-numbers">
        <% title_stats = @salaries_by_title[@salary.title].statistics %>
        <td><%= title_stats.count %></td>
        <td class="emphasize"><%= dollar(title_stats.median_annual_pay, short: true) %></td>
        <td><%= title_stats.rank_of(@salary) %></td>
      </tr>
      <tr class="stat-captions">
        <td class="caption">Members<br>with Your Title</td>
        <td class="caption">Median Salary<br>for Your Title</td>
        <td class="caption">Your Rank<br>within Your Title</td>
      </tr>
    </table>
  </section>

  <%= render layout: 'layouts/section', locals: { caption: "Salaries (All Titles)" } do %>
    <table class="salary-table">
      <thead>
        <tr>
          <th class="caption">Title</th>
          <th class="caption">Salary</th>
        </tr>
      </thead>
      <% @salaries_by_title.keys.sort.each do |title| %>
        <% grouping = @salaries_by_title[title] %>
        <tbody>
          <tr>
            <td><i class="fa fa-angle-down"></i> <%= title %></td>
            <td><i class="fa fa-user"></i> <%= grouping.salaries.count %>
          </tr>
          <% grouping.salaries.each do |salary| %>
            <tr>
              <td><%= salary.title %></td>
              <td><%= dollar(salary.annual_pay) %></td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>
  <% end %>

  <%= render layout: 'layouts/section', 
             locals: { caption: "Salary Distribution (All Titles)" } do %>
    <div class="canvas-holder">
      <%= column_chart(distribution_graph_path, xtitle: "Salary Bucket",
                       ytitle: "Count",
                       colors: ["#cdd"],
                      library: get_library()) %>
    </div>
  <% end %>

  <%= render layout: 'layouts/section', 
             locals: { caption: "Salary Scatter Plot (All Titles)" } do %>
    <div class="canvas-holder">
      <%= scatter_chart(scatter_graph_path, xtitle: "Salary Rank (Ascending)",
                       ytitle: "Salary",
                       colors: ["#cdd"],
                      library: get_library()) %>
    </div>
  <% end %>

  <%= render layout: 'layouts/section', 
             locals: { caption: "Median Salary By Title" } do %>
    <div class="canvas-holder">
      <%= bar_chart(title_medians_graph_path,
                    xtitle: "Salary",
                    ytitle: "Title",
                    colors: ["#cdd"],
                    library: get_library()) %>
    </div>
  <% end %>
</div>
