<table>
  <tr>
    <th>Title</th>
    <th>Salary</th>
  </tr>
  <% @group.salaries.each do |salary| %>
    <tr>
      <td><%= salary.title %></td>
      <td><%= salary.annual_pay %></td>
    </tr>
  <% end %>
</table>
<hr/>
<div>
  <p>Average Salary: <%= @group.average_annual_pay %></p>
  <p>Median Salary: <%= @group.median_annual_pay %></p>
</div>

<div>
  <p>Average <%= @title %> Salary: <%= @group.average_annual_pay(title: @title) %></p>
  <p>Median <%= @title %> Salary: <%= @group.median_annual_pay(title: @title) %></p>
</div>
<hr/>
<div>
  <%= link_to "Invite", invite_group_path(@group) %>
</div>
<div>
  <%= link_to "Back", groups_path %>
</div>
