<table>
  <tr>
    <th>Title</th>
    <th>Salary</th>
  </tr>
  <% @group.salaries.each do |salary| %>
    <tr>
      <td><%= salary.title %></td>
      <td><%= number_to_currency(salary.annual_pay) %></td>
    </tr>
  <% end %>
</table>
<hr/>
<div>
  <p>Average Salary: <%= number_to_currency(@group.average_annual_pay) %></p>
  <p>Median Salary: <%= number_to_currency(@group.median_annual_pay) %></p>
</div>

<% title_avg = @group.average_annual_pay(title: @title) %>
<% med_avg = @group.median_annual_pay(title: @title) %>
<div>
  <p>Average <%= @title %> Salary: <%= number_to_currency(title_avg) %></p>
  <p>Median <%= @title %> Salary: <%= number_to_currency(med_avg) %></p>
</div>
<hr/>
<div>
  <%= link_to "Invite", invite_group_path(@group) %>
</div>
<div>
  <%= link_to "Back", groups_path %>
</div>
