<% title_avg = @salaries_by_title[@salary.title].average_annual_pay %>
<% med_avg = @salaries_by_title[@salary.title].median_annual_pay %>

<% if @group.salaries.count < ApplicationHelper::MIN_GROUP_MEMBERS %>
  <p>Salaries will not be displayed until there are at least
  <%= ApplicationHelper::MIN_GROUP_MEMBERS %> members in this group.</p>
<% else %>
  <div class="group-header">
    <div class="inline">
      <h2><%= @group.name %></h2>
    </div>
    <div class="inline member-count">
      <span class="glyphicon glyphicon-user"></span> <%= @group.users.count %>
    </div>
  </div>
  <div class="group-body">
    <div class="double-spaced">
      <table id="summary-table">
        <tr>
          <th>People</br>with Your Title</th>
          <th>Average Salary</br>for Your Title</th>
          <th>Your Rank</br>for Your Title</th>
        </tr>
        <tr>
          <td><%= @salaries_by_title[@salary.title].count %></td>
          <td><%= dollar(title_avg, short: true) %></td>
          <td><%= @salaries_by_title[@salary.title].rank_of(@salary) %></td>
      </table>
    </div>
    <hr/>
    <div class="spaced">
      <div class="section-heading">
        <h3>Salaries</h3>
      </div>
      <table id="salaries-table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Salary</th>
          </tr>
        </thead>
        <tbody>
        <% @salaries_by_title.keys.sort.each do |title| %>
          <% grouping = @salaries_by_title[title] %>
          <tr class="grouping-header">
            <td><%= title %></td>
            <td>Average: <%= dollar(grouping.average_annual_pay, short: true) %></td>
          </tr>
          <% any_fudged = false %>
          <% grouping.salaries.each_with_index do |salary, i| %>
            <% title_count = @salaries_by_title[salary.title].count %>
            <% if i % 2 == 0 %>
            <tr class="even">
            <% else %>
            <tr>
            <% end %>
              <td><%= title %></td>
              <% is_fudged, fudged = fudged_salary(salary, title_count) %>
              <% if is_fudged %>
                <% any_fudged = true %>
                <td><%= fudged %> <span class="highlight">*</span></td>
              <% else %>
                <td><%= fudged %></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
    <p class="note"><span class="highlight">* This salary has been fudged because
        there are not enough people with this title.</span></p>
    <hr/>
    <%= render partial: "partials/group_overview" %>
  </div>
<% end %>
<hr/>

<%= content_for :sidebar do %>
  <%= render "partials/group_sidebar" %>
<% end %>

<!--      Modal windows       -->
<!-- Edit -->
<%= render layout: "layouts/modal",
    locals: { id: "edit-modal", title: "Edit Info", action: "Save" } do %>
    <%= content_tag(:div, "", class: ["hidden", "modal-data"], 
                    data: { put_url: salary_path(@salary) }) %>
    <div>
      <label for="title-field"><h5>Title</h5></label>
      <%= text_field_tag :"title-field", @salary.title %>
    </div>
    <div class="spaced">
      <label for="salary-field"><h5>Annual Salary</h5></label>
      <%= number_field_tag :"salary-field", @salary.annual_pay, step: 1000 %>
    </div>
    <div class="spaced">
      <label><h5>Last Bonus</h5></label>
      <p><em>Coming Soon!</em></p>
    </div>
    <div class="spaced">
      <label><h5>Equity</h5></label>
      <p><em>Coming Soon!</em></p>
    </div>
<% end %>

<!-- Invitations -->
<%= render layout: "layouts/modal",
    locals: { id: "invite-modal", title: "Invite New Members", action: "Invite" } do %>

    <%= content_tag(:div, "", class: ["hidden", "modal-data"], 
                    data: { post_url: invite_group_path(@group) }) %>
    <p>Who would you like to invite to be a part of your group?</p>
    <p>Enter their email addresses below, separated by commas:</p>

    <%= text_area_tag :emails, "", size: "48x8" %>
<% end %>

<!-- Leaving Group -->
<%= render layout: "layouts/modal",
    locals: { id: "leave-modal", title: "Are you sure?", action: "Yes" } do %>

    <%= content_tag(:div, "", class: ["hidden", "modal-data"], 
                    data: { delete_url: salary_path(@salary) }) %>
    <p>Are you sure you want to leave this group?</p>
    <p>Once you leave, you will not be able to rejoin the group unless another
    group member invites you.</p>
<% end %>
