<section class="box form-box">
  <p class="caption">Create an Account</p>
  <%= form_tag controller: "users", action: "create" do %>
    <div class="input-group">
      <%= label_tag :email_label, "Email" %>
      <%= email_field_tag :email, nil, class: "input-block", placeholder: "example@domain.com" %>
    </div>
    <div class="input-group">
      <%= label_tag :password_label, "Password" %>
      <%= password_field_tag :password, nil, class: "input-block", placeholder: "Enter a password" %>
    </div>
    <div class="input-group">
      <%= label_tag :password_confirm_label, "Password Confirmation" %>
      <%= password_field_tag :password_confirm, nil, class: "input-block", placeholder: "Enter the same password" %>
    </div>
    <div class="input-group">
      <button type="submit" class="btn btn-solid">
        <p>Create Account <i class="fa fa-angle-right"></i></p>
      </button>
    </div>
  <% end %>
</section>
