<%= form_tag controller: "salaries", action: "create" do %>
  <div>
    <%= label_tag :title_label, "Title" %>
    <%= text_field_tag :"title-autocomplete", "", 
        data: { titles: titles_for_autocomplete(@group) } %>
  </div>
  <div class="spaced">
    <%= label_tag :salary_label, "Annual Salary" %>
    <%= number_field :salary, :annual_pay, step: 1000 %>
  </div>
  <div class="double-spaced">
    <%= submit_tag "Save", class: %w{ btn btn-default } %>
  </div>
<% end %>
