<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PaySymmetry</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "controllers/#{controller_name}", media: 'all', 
      'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "partials/nav_bar" %> 

    <div id="page-container" class="container-fluid">
      <div class="row">
        <div class="col-sm-1">
        </div>

        <!-- Main Panel -->
        <div class="col-sm-10 main-panel">
          <!-- Messages -->

          <div class="row">
            <% if content_for?(:sidebar) %>
              <!-- Sidebar -->
              <div class="col-sm-3 sidebar">
                <%= yield :sidebar %>
              </div>

              <!-- Main Content -->
              <div class="col-sm-9 main-content">
                <div class="row">
                  <div class="col-sm-12">
                    <%= render "partials/flash_messages" %>
                  </div>
                </div>
                <%= yield %>
              </div>
            <% else %>
              <!-- Main Content -->
              <div class="col-sm-12 main-content">
                <div class="row">
                  <div class="col-sm-12">
                    <%= render "partials/flash_messages" %>
                  </div>
                </div>
                <%= yield %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="col-sm-1">
        </div>
      </div> <!-- .row -->
    </div> <!-- .container-fluid -->

  </body>
</html>
