<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PaySymmetry</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "controllers/#{controller_name}", media: 'all', 
      'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- custom fonts -->
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' 
          rel='stylesheet' 
          type='text/css'>
          <link href='https://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%= render "partials/nav_bar" %> 

    <div id="page-container" class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
        </div>

        <!-- Main Panel -->
        <div class="col-sm-8 main-panel">
          <!-- Messages -->
          <div class="row">
            <div class="col-sm-12">
              <%= render "partials/flash_messages" %>
            </div>
          </div>

          <div class="row">
            <!-- Main Content -->
            <div class="col-sm-9">
              <%= yield %>
            </div>

            <!-- Sidebar -->
            <div class="col-sm-3 sidebar">
              <%= yield :sidebar %>
            </div>
          </div>
        </div>

        <div class="col-sm-2">
        </div>
      </div> <!-- .row -->
    </div> <!-- .container-fluid -->

  </body>
</html>
